[Unit]
Description=Discord Discgolf Bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/Riksdagen-Backend/
ExecStart=/bin/bash -c "source /root/.nvm/nvm.sh && chmod +x systemd/* && systemd/discgolf.sh"
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
